# EXTRA: Data Aggregation Constructor

In [1]:
import zipfile     # pip install zipfile36
import pandas as pd

In [2]:
%%time

df = pd.read_csv('./tiques_ser_3T_2022.zip', compression='zip', sep=';', low_memory=False)
#df = pd.read_csv('./2022T1-SER-uso-parquimetros.csv', sep=';')

Wall time: 24.3 s

In [3]:
df.head()

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,distrito,cod_barrio,barrio,tipo_zona,distintivo,minutos_tique,importe_tique
0,106120283,2022-07-01 19:04:01,2022-07-01 19:03:39,2022-07-01 20:18:39,6,TETUAN,1,BELLAS VISTAS,COMERCIALES,INFORMACION NO DISPONIBLE,75,"0,00"
1,106120283,2022-07-01 19:56:01,2022-07-01 19:55:23,2022-07-01 20:54:23,6,TETUAN,1,BELLAS VISTAS,AZUL,B,59,"3,45"
2,106120283,2022-07-02 09:08:58,2022-07-02 09:06:03,2022-07-02 12:00:03,6,TETUAN,1,BELLAS VISTAS,AZUL,C,174,"4,40"
3,106120283,2022-07-02 12:43:54,2022-07-02 12:43:30,2022-07-02 13:21:30,6,TETUAN,1,BELLAS VISTAS,AZUL,B,38,"1,00"
4,106120283,2022-07-02 12:59:11,2022-07-02 13:01:48,2022-07-02 14:03:48,6,TETUAN,1,BELLAS VISTAS,AZUL,C,62,"2,80"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9024425 entries, 0 to 9024424
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   matricula_parquimetro  object
 1   fecha_operacion        object
 2   fecha_inicio           object
 3   fecha_fin              object
 4   cod_distrito           int64
 5   distrito               object
 6   cod_barrio             int64
 7   barrio                 object
 8   tipo_zona              object
 9   distintivo             object
 10  minutos_tique          int64
 11  importe_tique          object
dtypes: int64(3), object(9)
memory usage: 826.2+ MB

In [5]:
df.isnull().sum()

matricula_parquimetro         0
fecha_operacion               0
fecha_inicio                  0
fecha_fin                     0
cod_distrito                  0
distrito                 239058
cod_barrio                    0
barrio                        0
tipo_zona                 34716
distintivo                    0
minutos_tique                 0
importe_tique                 0
dtype: int64

In [6]:
df['importe_tique'] = df['importe_tique'].str.replace(',', '.').astype('float64')
df['matricula_parquimetro'] = df['matricula_parquimetro'].astype('str')

In [7]:
df_distritos = df[['cod_distrito', 'distrito']].drop_duplicates().sort_values(by='cod_distrito').reset_index(drop=True)
df_distritos.head()

   cod_distrito    distrito
0             1      CENTRO
1             2  ARGANZUELA
2             3      RETIRO
3             4   SALAMANCA
4             5   CHAMARTIN

In [8]:
df_barrios = df[['cod_distrito', 'cod_barrio', 'barrio']].drop_duplicates()\
.sort_values(by=['cod_distrito', 'cod_barrio']).reset_index(drop=True)
df_barrios.head()

   cod_distrito  cod_barrio       barrio
0             1           1      PALACIO
1             1           2  EMBAJADORES
2             1           3       CORTES
3             1           4     JUSTICIA
4             1           5  UNIVERSIDAD

In [9]:
drop_cols = ['distrito', 'barrio']
df_small = df.drop(drop_cols, axis=1)
df_small.head()

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,cod_barrio,tipo_zona,distintivo,minutos_tique,importe_tique
0,106120283,2022-07-01 19:04:01,2022-07-01 19:03:39,2022-07-01 20:18:39,6,1,COMERCIALES,INFORMACION NO DISPONIBLE,75,0.00
1,106120283,2022-07-01 19:56:01,2022-07-01 19:55:23,2022-07-01 20:54:23,6,1,AZUL,B,59,3.45
2,106120283,2022-07-02 09:08:58,2022-07-02 09:06:03,2022-07-02 12:00:03,6,1,AZUL,C,174,4.40
3,106120283,2022-07-02 12:43:54,2022-07-02 12:43:30,2022-07-02 13:21:30,6,1,AZUL,B,38,1.00
4,106120283,2022-07-02 12:59:11,2022-07-02 13:01:48,2022-07-02 14:03:48,6,1,AZUL,C,62,2.80

In [10]:
df_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9024425 entries, 0 to 9024424
Data columns (total 10 columns):
 #   Column                 Dtype
---  ------                 -----
 0   matricula_parquimetro  object
 1   fecha_operacion        object
 2   fecha_inicio           object
 3   fecha_fin              object
 4   cod_distrito           int64
 5   cod_barrio             int64
 6   tipo_zona              object
 7   distintivo             object
 8   minutos_tique          int64
 9   importe_tique          float64
dtypes: float64(1), int64(3), object(6)
memory usage: 688.5+ MB

In [11]:
df_barrios.to_csv('./output/barrios.csv', sep='\t', index=False)

In [12]:
df_distritos.to_csv('./output/distritos.csv', sep='\t', index=False)

In [13]:
%%time

df_small.to_csv('./output/tickets_parking.csv', index=False)

Wall time: 33.1 s

In [14]:
%%time

df_small.to_parquet('./output/tickets_parking.parquet')

Wall time: 9.47 s

---